@import "primer-base/index";
@import "primer-buttons/lib/button";
@import "primer-markdown/index";
@import "primer-alerts/index";
@import "primer-navigation/lib/tabnav";
@import "primer-forms/lib/form-control";
@import "./util";
@import "./timeline";
@import "./timeline-comment";
@import "./permalink-code";

html,
body {
  background-color: transparent;
}

body {
  overflow: hidden;
  padding-bottom: 20px;
}

.form-control {
  font-size: $body-font-size;
}

.flash-not-installed {
  margin-bottom: $spacer-3;
}
