$gray-000: #021012;
$gray-100: #051a1d;
$gray-200: #0a3238;
$gray-300: #10444d;
$gray-400: #18606d;
$gray-600: #278a97;
$gray-700: #39a9b8;
$bg-white: #021012;
$bg-gray: #06272c;
$bg-gray-light: darken($bg-gray, 5%);
$border-gray: $gray-300;
$border-gray-dark: $border-gray;
$text-gray: #fff;
$text-gray-dark: #fff;
$text-blue: rgb(38, 208, 231);
$bg-blue-light: #182c30;
$black-fade-15: rgba(#fff, 0.15);
$black-fade-30: rgba(#fff, 0.3);