$white: #ffffff;
$black: #000000;
$gray: #eeeeee;
$gray-dark: #999999;
$red-dark: #5E0001;
$red-dark2: #940002;
$red-normal: #B40203;
$red-light: #C80004;

$bg-white: $white;
$bg-gray: $white;
$bg-gray-light: $white;
$border-gray: $gray;
$border-gray-dark: $gray;
$text-gray: $black;
$text-gray-dark: $black;
$button-normal: $red-normal;
$button-hover: $red-light;
$button-pressed: $red-dark;
