$gray-000: #181818;
$gray-100: #222;
$gray-200: #24292e;
$gray-300: #1D1F21;
$gray-400: #586069;
$gray-600: #7b7b7b;
$gray-700: #959da5;
$bg-white: darken(#1E232B, 5%);
$bg-gray: $bg-white;
$bg-gray-light: darken($bg-gray, 5%);
$border-gray: #1D1F21;
$border-gray-dark: #1D1F21;
$text-gray: #949494;
$text-gray-dark: #c0c0c0;
$text-blue: rgb(65, 131, 196);
$bg-blue-light: #182030;
$black-fade-15: rgba(#fff, 0.15);
$black-fade-30: rgba(#fff, 0.3);
