$gray-000: #0D1117;
$gray-100: #222;
$gray-200: #24292e;
$gray-300: #343434;
$gray-400: #586069;
$gray-600: #7b7b7b;
$gray-700: #959da5;
$bg-white: #0D1117;
$bg-gray: #090D13;
$bg-gray-light: darken($bg-gray, 5%);
$border-gray: $gray-300;
$border-gray-dark: $border-gray;
$text-gray: #949494;
$text-gray-dark: #C9D1D9;
$text-blue: rgb(65, 131, 196);
$bg-blue-light: #182030;
$black-fade-15: rgba(#fff, 0.15);
$black-fade-30: rgba(#fff, 0.3);
