/*set all to material design nums and add minimal purple*/
$gray-000: #141314;
$gray-100: #201d20;
$gray-200: #252225;
$gray-300: #231f25;
$gray-400: #262427;
$gray-600: #2d282e;
$gray-700: #2f2a31;
$bg-white: darken($gray-200, 3%);
$bg-gray: $gray-200;
$bg-gray-light: darken($bg-gray, 5%);
$border-gray: $gray-300;
$border-gray-dark: $border-gray;
$text-gray: #cac4c4;
$text-gray-dark: #c2bcbc;
$text-purple: #ac55d4;
$bg-purple-light: #2d1830;
$black-fade-15: rgba(#fff, 0.15);
$black-fade-30: rgba(#fff, 0.3);
$button-normal: #aa4bc2;
$button-hover: #c149cc;
$button-pressed: #bd51c7;