.post-reactions {
  margin: $spacer-3 0;
  padding: 0 $spacer-1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .post-reaction-list {
    margin: $spacer-2 0;

    & > .post-reaction-button {
      font-weight: normal;
      padding: $spacer-2 $spacer-3;
      border-radius: 0 !important;

      &::after {
        display: inline-block;
        margin-left: 2px;
        content: attr(reaction-count);
      }
    }
  }
}
