.reaction-list {
  display: flex;
  flex-wrap: nowrap;
  border-right: $border;
  overflow: visible;
  > .reaction-button:last-child {
    border-right: none !important;
  }
}

.reaction-list > .reaction-button {
  font-weight: normal;
  padding: rem($spacer-2) rem($spacer-3);
  border-radius: 0 !important;
  border-top: none;
  border-bottom: none;

  &:first-child {
    border-left: $border;
    border-bottom: $border;
    margin-left: -1px;
    margin-bottom: -1px;
  }

  &[reaction-count="0"] {
    display: none;
  }

  &::after {
    display: inline-block;
    margin-left: rem(2px);
    content: attr(reaction-count);
  }
}

.reactions-popover {
  summary {
    height: 100%;
    min-height: 3rem;
    display: flex;
    align-items: center;
    color: $text-gray;
    white-space: nowrap;
    transition: opacity 0.3s ease-in-out;
    padding: 0 rem($spacer-3);
    &:hover {
      color: $text-blue;
    }

    .plus-icon {
      margin-right: rem(3px);
      width: rem(7px);
      height: rem(16px);
    }

    .smile-icon {
      width: rem(16px);
      height: rem(16px);
    }
  }

  .Popover {
    margin-top: $spacer-2;
  }

  .Popover-message {
    position: relative;
    padding: rem($spacer-1);
    display: flex;
    flex-wrap: wrap;
    width: rem(150px);
    background-color: $bg-white;
    border: $border;
    border-radius: $border-radius;
  }

  .BtnGroup {
    margin: 0 auto;
    height: rem(28px);
    display: flex;

    &:first-of-type {
      margin-top: rem($spacer-6);
    }
  }

  .reaction-button {
    border: none;
    border-radius: 0 !important;
    transition: transform 0.15s cubic-bezier(0.2, 0, 0.13, 2);
    background: transparent !important;
    white-space: nowrap;
    padding: rem($spacer-1) rem($spacer-2);

    &:hover {
      transform: scale(1.2);
      color: $text-blue !important;
    }
  }
}

.reaction-name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: $border;
  padding: rem($spacer-2) rem($spacer-3);
  pointer-events: none;
  background-color: $bg-white;

  .reaction-button + & {
    display: none;
  }

  .reaction-button:hover + & {
    display: block;
  }
}

.reaction-button {
  box-shadow: none;
  &:focus-visible {
    box-shadow: none;
    outline: 1px dotted #000;
    outline-offset: -1px;
  }
}
