.timeline-comment {
  display: flex;
  align-items: flex-start;
  margin: rem($spacer-3) 0;

  .avatar {
    display: none;
    background-color: transparent;
  }

  .avatar > img {
    border-radius: $border-radius;
    height: rem(44px);
    width: rem(44px);
  }

  .comment {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    background-color: $bg-white;
    border: $border;
    border-radius: $border-radius;
  }

  .comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text-gray;
    background-color: $bg-gray;
    border-bottom: $border;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .comment-meta {
    padding: rem(10px) rem($spacer-3);
  }

  .comment-actions {
    display: flex;
    align-items: center;
  }

  .new-comment-header {
    padding: rem($spacer-2) rem($spacer-2) 0 rem($spacer-2);
    background-color: $bg-gray;
    border-bottom: $border;
    margin-bottom: 0;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .markdown-body {
    padding: rem($spacer-3) rem($spacer-3);
    font-size: rem($body-font-size);
  }

  .comment-body {
    padding: rem($spacer-2);

    textarea {
      appearance: none;
      display: block;
      max-height: rem(550px);
      resize: vertical;
    }

    textarea,
    .markdown-body {
      padding: rem($spacer-2);
      width: 100%;
      min-height: rem(90px);
      border: $border;
      border-radius: $border-radius;
    }

    textarea:focus {
      box-shadow: $btn-input-focus-shadow;
    }

    textarea:disabled {
      background-color: $bg-gray;
    }
  }

  .comment-footer {
    display: flex;
    border-top: $border;

    &[reaction-count="0"] {
      height: 0;
      overflow: hidden;
      opacity: 0;
    }

    &:not(:hover) .reactions-popover:not([open]) {
      overflow: hidden;
      opacity: 0;
      summary {
        opacity: 0;
      }
    }
  }

  .new-comment-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem($spacer-2) rem($spacer-2) rem($spacer-2);

    .markdown-info {
      font-size: rem($font-size-small);
      margin-right: rem($spacer-1);

      .markdown-icon {
        width: rem(16px); 
        height: rem(16px); 
        vertical-align: bottom;
        fill: currentColor;
      }
    }

    .btn-sign-in {
      * {
        vertical-align: middle;
      }

      .github-icon {
        width: rem(16px);
        height: rem(16px);
      }
    }
  }

  &.current-user .comment-header {
    background-color: $bg-blue-light;
  }

  .author-association-badge {
    margin-top: rem(-1px);
    margin-right: rem($spacer-1);
    padding: rem(2px) rem(5px);
    border: $border;
    border-radius: $border-radius;
    font-size: rem($font-size-small);
    font-weight: $font-weight-semibold;
  }

  .reactions-popover {
    display: none;
  }

  @media screen and (min-width: map-get($breakpoints, sm)) {
    .avatar {
      display: block;
      margin-right: rem($spacer-3);
    }

    .comment {
      @include double-caret($bg-gray, $border-gray-dark);
    }

    &.current-user .comment {
      @include double-caret($bg-blue-light, $border-gray-dark);
    }

    .reactions-popover {
      display: inline-block;
    }
  }
}
