.text-link {
  color: $text-gray;
}

.markdown-body-scrollable {
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.markdown-body .highlight-source-js > pre {
  -webkit-overflow-scrolling: touch;
}

input, select, textarea {
  appearance: none;
}