@import "primer-base/index";
@import "primer-utilities/lib/details";
@import "primer-utilities/lib/box-shadow";
@import "primer-buttons/index";
@import "primer-markdown/index";
@import "primer-alerts/index";
@import "primer-navigation/lib/tabnav";
@import "primer-forms/lib/form-control";
@import "primer-popover/index";
@import "./util";
@import "./timeline";
@import "./timeline-comment";
@import "./permalink-code";
@import "./email-fragment";
@import "./zigzag";
@import "./reactions";

html,
body {
  background-color: transparent;
}

body {
  overflow: hidden;
  padding-bottom: 20px;
}

.form-control {
  font-size: $body-font-size;
}

.flash-not-installed {
  margin-bottom: $spacer-3;
}
