@import "./variables";

.btn-primary {
    color: $gray-900;
    border-color: $gray-900;
    background: $orange;

    &:hover, &:active, &:focus {
        border-color: $gray-900;
        background: $orange;
    }

    &:disabled {
        color: $gray-900;
        background: $orange-200;
    }
}

button[role=tab] {
  color: $gray-600;
  .selected {
    color: $text-gray-dark;
  }
}
