$gray-000: #181818;
$gray-100: #222222;
$gray-200: #24292e;
$gray-300: #4e4c4b;
$gray-400: #586069;
$gray-600: #bbbbbb;
$gray-700: #959da5;
$bg-white: #2d2833;
$bg-gray: $gray-100;
$bg-gray-light: darken($bg-gray, 5%);
$border-gray: $gray-300;
$border-gray-dark: $border-gray;
$black-fade-15: rgba(#fff, 0.15);
$black-fade-30: rgba(#fff, 0.3);
$text-gray: #c9c9c9;
$text-gray-dark: #f7f7f7;
$text-blue: #f27052;
$bg-blue-light: #212021;
$bg-page: #463d4e;

$highlight: rgba(242, 112, 82, 0.99);
$line: #6f6e6e;
