.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: $body-font-size;
  font-weight: $font-weight-bold;
  line-height: 20px; // Specifically not inherit our `<body>` default
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid transparentize($black, 0.8);
  border-radius: 0.25em;
  appearance: none; // Corrects inability to style clickable `input` types in iOS.

  &:hover {
    text-decoration: none;
    background-repeat: repeat-x;
  }

  &:focus {
    outline: 0;
  }

  &:disabled,
  &.disabled {
    cursor: default;
    // Repeat `background-position` because `:hover`
    background-position: 0 0;
  }

  &:active,
  &.selected {
    background-image: none;
  }
}

// .btn         { @include btn-solid($text-gray-dark, $gray-000, darken($bg-gray, 2%)); }
.btn-primary { @include btn-solid($text-white, $green-400, $green-500); }
// .btn-purple  { @include btn-solid($text-white, lighten($purple-500, 5%), darken($purple-500, 5%)); }
// .btn-blue    { @include btn-solid($text-white, lighten($blue-500, 8%), darken($blue-500, 2%)); }
// .btn-danger  { @include btn-inverse($red-600, $gray-000, darken($bg-gray, 2%)); }
