.timeline-comment {
  display: flex;
  align-items: flex-start;
  margin: $spacer-3 0;

  .avatar {
    display: none;
  }

  .avatar > img {
    border-radius: $border-radius;
  }

  .comment {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0px;
    border: $border;
    border-radius: $border-radius;
  }

  .comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px $spacer-3;
    color: $text-gray;
    background-color: $bg-gray;
    border-bottom: $border;
  }

  .new-comment-header {
    padding: $spacer-2 $spacer-2 0 $spacer-2;
    background-color: $bg-gray;
    border-bottom: $border;
  }

  .markdown-body {
    padding: $spacer-3 $spacer-3;
    font-size: $body-font-size;
  }

  .comment-body {
    padding: $spacer-2;

    textarea {
      display: block;
      max-height: 550px;
      resize: vertical;
    }

    textarea,
    .markdown-body {
      padding: $spacer-2;
      width: 100%;
      min-height: 90px;
      border: $border;
      border-radius: $border-radius;
    }

    textarea:focus {
      box-shadow: $btn-input-focus-shadow;
    }

    textarea:disabled {
      background-color: $gray-100;
    }
  }

  .comment-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $spacer-2 $spacer-2 $spacer-2;

    .markdown-info {
      font-size: $font-size-small;
    }
  }

  &.current-user .comment-header {
    background-color: $bg-blue-light;
  }

  .author-association-badge {
    margin-top: -1px;
    padding: 2px 5px;
    border: $border;
    border-radius: $border-radius;
    font-size: $font-size-small;
    font-weight: $font-weight-semibold;
  }

  @media (min-width: map-get($breakpoints, sm)) {
    .avatar {
      display: block;
      margin-right: $spacer-3;
    }

    .comment {
      @include double-caret($bg-gray, $border-gray-dark);
    }

    &.current-user .comment {
      @include double-caret($bg-blue-light, $border-gray-dark);
    }
  }
}
