@import "primer-base/index.scss";

body {
  overflow: hidden;
}

.comment-wrapper {
  max-width: 760px;
  margin: 15px auto;
}

.comment-wrapper:first-child {
  margin-top: 0;
}

.comment-avatar {
  display: none;
}

.comment-label {
  display: none;
}

@media (min-width: 550px) {
  .comment-wrapper {
    padding-left: 60px;
  }

  .comment-wrapper > .comment::after,
  .comment-wrapper > .comment::before {
    position: absolute;
    top: 11px;
    right: 100%;
    left: -16px;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
  }

  .comment-wrapper > .comment::after {
    margin-top: 1px;
    margin-left: 2px;
    border-width: 7px;
    border-right-color: $gray-100;
  }

  .comment-wrapper > .comment::before {
    border-width: 8px;
    border-right-color: $gray-300;
  }

  .comment-avatar {
    display: block;
    float: left;
    margin-left: -60px;
  }

  .comment-label {
    display: inline-block;
    padding: 2px 5px;
    margin: 8px 0 8px 15px;
    font-size: 12px;
    font-weight: bold;
    cursor: default;
    border: 1px solid rgba(27,31,35,0.1);
    border-radius: 3px;
  }
}

.comment {
  position: relative;
  background-color: $white;
  border: 1px solid $gray-300;
  border-radius: 3px;
}

.comment.current-user {
  border-color: #bfccd1;
}

.comment-header {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  color: $gray-600;
  background-color: $gray-100;
  border-bottom: 1px solid $gray-300;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.comment.current-user .comment-header {
  background-color: #f1f8ff;
  border-bottom-color: #bfccd1;
}

.comment-header .author {
  color: $gray-600;
}

.comment-header .timestamp {
  color: inherit;
  white-space: nowrap;
}

.comment-header-text {
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.comment-actions {
  flex-shrink: 0;
  margin-left: 10px;
}

.comment-action {
  display: inline-block;
  padding: 10px 5px;
  color: inherit;
  opacity: 0.5;
}

.comment-body {
  padding: 15px;
  max-height: 550px;
  overflow: auto;
}

.comment-body.editable {
  padding: 10px;
}

.comment-body > *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
}

.comment-body li {
  margin-left: 15px;
}

g-emoji {
  font-family: "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  vertical-align: middle;
}

.comment-area {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100px;
  min-height: 100px;
  max-height: 450px;
  padding: 8px;
  resize: vertical;
  border: 1px solid #dfe2e5;
  border-radius: 3px;
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 1.6;
  background-color: #fafbfc;
}

.comment-form-actions .btn {
  float: right;
}

.markdown-info {
  padding-top: 10px;
  font-size: 12px;
  color: #586069;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-primary {
  color: #fff;
  background-color: #28a745;
  background-image: -webkit-linear-gradient(270deg, #34d058 0%, #28a745 90%);
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

.powered-by,
.powered-by > a {
  color: #586069;
}
