@import "primer-base/index";
@import "primer-forms/lib/form-control";
@import "primer-forms/lib/form-group";
@import "primer-forms/lib/input-group";
@import "primer-markdown/index";
@import "github-syntax-light/lib/github-light";
@import "./util";
@import "./timeline";
@import "./timeline-comment";
@import "./buttons";

.markdown-body {
  font-size: 16px;
}

form {
  font-size: $body-font-size;
}

fieldset {
  border: none;
  margin: 0 $spacer-3;
  padding: 0;
}

input:not([type=radio]) {
  margin: $spacer-1 0;
}

.form-checkbox label {
  display: block;
  cursor: pointer;
}

.code-action {
  float: right;
  margin-top: -$spacer-2;
  margin-bottom: $spacer-3;
}

.btn-blue { @include btn-solid($text-white, lighten($blue-500, 8%), darken($blue-500, 2%)); }
