@import "primer-base/index";
@import "primer-forms/lib/form-control.scss";
@import "primer-forms/lib/form-group.scss";
@import "primer-forms/lib/input-group.scss";
@import "primer-markdown/index";
@import "pygments-vs";
@import "util";
@import "timeline";
@import "timeline-comment";
@import "buttons";

.markdown-body {
  font-size: 16px;
}

form {
  font-size: $body-font-size;
}

fieldset {
  border: none;
  margin: 0 $spacer-3;
  padding: 0;
}

input:not([type=radio]) {
  margin: $spacer-1 0;
}

.form-checkbox label {
  display: block;
}

.code-action {
  float: right;
  margin-top: -$spacer-2;
  margin-bottom: $spacer-3;
}

.btn-blue { @include btn-solid($text-white, lighten($blue-500, 8%), darken($blue-500, 2%)); }

