@import "primer-base/index";
@import "primer-markdown/index";
@import "pygments-vs";
@import "util";
@import "timeline";
@import "timeline-comment";

.timeline-comment .markdown-body {
  max-height: unset;
  font-size: 16px;

  h1,h2,h3,h4,h5,h6 {
    .anchor {
      display: none;
    }
  }
}
