body {
  overflow: hidden;
  padding-bottom: 20px;
}

@import "primer-base/index";
@import "primer-markdown/index";
@import "primer-alerts/index";
@import "primer-navigation/lib/tabnav.scss";
@import "pygments-vs";
@import "util";
@import "buttons";
@import "timeline";
@import "timeline-comment";

.flash-not-installed {
  margin-bottom: $spacer-3;
}
